<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="main_menu">
                    <ul class="menu_items">
                        <li class=""><a href="/main"><%= lang.main.title %></a></li>
                    </ul>
                    <ul class="menu_items">
                        <li class=""><a href="/lookup"><%= lang.lookup.title %></a></li>
                        <li class=""><a href="/account"><%= lang.account.title %></a></li>     
                        <li class=""><a href="/files"><%= lang.files.title %> </a></li>   
                        <li class=""><a href="/resume"><%= lang.resume.title %></a></li>   
                        <li class=""><a href="/searchbyid"><%= lang.searchbyid.title %></a></li></a></li> 
                        <li class=""><a href="/language"><%= lang.language.title %></a></li></a></li>      
                        <li class=""><a href="/chat"><%= lang.chat.title %></a></li></a></li>
                        <li class=""><a href="/guestbook"><%= lang.guestbook.title %></a></li></a></li>
                        <li class=""><a href="/passwordrecover"><%= lang.passwordrecover.title %></a></li></a></li>
                        <li class=""><a href="/adminaccess"><%= lang.adminaccess.title %></a></li></a></li>
                    </ul>
                    <ul class="menu_items">
                        <li class=""><a href="/logout"><%= lang.logout.title %></a></li></a></li>
                    </ul>
    </div>
</div>
    <div class="col-sm-12 col-md-12 col-lg-9 ">
        <div class="content">