<%- include('partials/main_header'); -%>
<%- include('partials/main_menu'); -%>


        <h1><%= lang.main.header_01 %></h1>
        <p class="paragraph-text"><%= lang.main.header_text_01 %></p>
        <hr>
        <h2><%= lang.main.header_02 %></h2>
        <p class="paragraph-text"><%= lang.main.header_text_02 %></p>

<%- include('partials/main_footer'); -%>