<%- include('partials/main_header'); -%>
  <%- include('partials/main_menu'); -%>

    <h1><%= lang.search.header_01 %></h1>
    <p class="paragraph-text"><%= lang.search.header_text_01_1 %><b><%- result %></b><%= lang.search.header_text_01_2 %></p>
      <hr>
      <p class="paragraph-text"><%= lang.search.header_text_02 %> </p>
      <h2><%= response %></h2>
            <%- include('partials/main_footer'); -%>