<%- include('partials/main_header'); -%>
    <%- include('partials/main_menu'); -%>


        <h1><%= lang.adminaccess.header_01 %></h1>
        <p class="paragraph-text"><%= lang.adminaccess.header_text_01 %></p>
        
                    <%- include('partials/main_footer'); -%>